In [1]:
from data import *

/Users/lilimatic/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

# Solve-hot-one for NONE

In [2]:
df, X, y, X_train, X_test, y_train, y_test = dataset('full',28,1,'train-test',0.25,'mice')

/Users/lilimatic/opt/anaconda3/lib/python3.8/site-packages/sklearn/impute/_iterative.py:800: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

In [4]:
df

,Hepatic.Encephalopathy...Treatment.Day.7..,Day.7.infection,Gastrointestinal.Bleed.since.the.last.visit.Gastrointestinal.bleed...and.Choose..Treatment.Day.7..,Temperature..Treatment.Day.7..,Pulse..Treatment.Day.7..,Systolic.BP..Treatment.Day.7..,Diastolic.BP..Treatment.Day.7..,MAP..Treatment.Day.7,Hb..1.decimal.point..Haematology..Treatment.Day.7..,Platelets.day.7,...,PNPLA3_Rec,HPCT_NG,D28_DTH,Hepatic.Encephalopathy...Treatment.Day.7.._2,Day.7.infection_2,Gastrointestinal.Bleed.since.the.last.visit.Gastrointestinal.bleed...and.Choose..Treatment.Day.7.._2,Gender_2,Baseline_sepsis_2,Baseline_GIB_2,Hepatic.Encephalopathy...Merged_2
0,1,0,0,36.100000,75.000000,110.00000,72.000000,84.666667,122.000000,107.000000,...,0.000000,0.261571,0,0,1,1,1,1,1,0
1,0,0,0,36.567104,90.039124,117.35905,69.086053,85.177052,102.085590,191.351835,...,1.000000,0.204013,0,1,1,1,1,1,1,1
2,0,0,0,36.300000,78.000000,108.00000,63.000000,78.000000,139.000000,129.000000,...,0.000000,0.000000,0,1,1,1,1,1,1,1
3,0,0,0,36.800000,89.000000,127.00000,69.000000,88.333333,104.057944,129.757864,...,0.000000,0.113990,0,1,1,1,1,1,1,1
4,0,0,0,36.484316,91.704367,117.35905,69.086053,85.177052,111.677619,89.400284,...,0.000000,0.154660,0,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529,0,1,0,37.800000,85.000000,120.00000,70.000000,86.666667,120.000000,324.000000,...,0.000000,0.000000,0,1,0,1,0,1,1,1
530,0,0,0,36.516594,78.713972,117.35905,69.086053,85.177052,110.484546,111.556026,...,0.000000,0.000000,0,1,1,1,1,0,1,1
531,0,0,0,36.100000,80.000000,109.00000,75.000000,86.333333,114.000000,156.000000,...,0.049583,0.370702,0,1,1,1,1,1,1,1
532,0,0,0,37.500000,70.000000,100.00000,62.000000,74.666667,119.000000,366.000000,...,0.000000,1.199673,0,1,1,1,0,1,1,1
533,0,0,0,36.800000,120.000000,134.00000,75.000000,94.666667,106.000000,160.000000,...,0.000000,0.827577,0,1,1,1,1,0,1,1